# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

In [6]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [8]:
chipo =df.copy()

### Step 4. See the first 10 entries

In [9]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [21]:
# Solution 1
chipo.shape[0]

4622

In [13]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [22]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [24]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [25]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [50]:
a = chipo.groupby('item_name')
a = a.sum()
a[a.quantity == a.quantity.max()].index.values[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [51]:
a.quantity.max()

10890

### Step 11. What was the most ordered item in the choice_description column?

In [60]:
b = chipo.groupby('choice_description')
b=b.sum()
b[b.quantity == b.quantity.max()].index.values[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [71]:
chipo.quantity.sum()

69330

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [82]:
chipo.item_price.dtype
pipo = chipo.copy()

#### Step 13.b. Create a lambda function and change the type of item price

In [88]:

convert_float = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(convert_float)

#### Step 13.c. Check the item price type

In [90]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [95]:
(chipo.item_price * chipo.quantity).sum()

517502.4

### Step 15. How many orders were made in the period?

In [102]:
chipo.order_id.value_counts().shape[0]

1834

### Step 16. What is the average revenue amount per order?

In [115]:
# Solution 1
#order_group = chipo.groupby(['order_id','item_name'])
#order_group.head()
chipo['revenue'] = chipo.quantity * chipo.item_price
revenue = chipo.groupby('order_id').sum()
revenue.mean()['revenue']

282.1714285714292

In [117]:
# Solution 2
chipo.groupby('order_id').sum().mean()['revenue']

282.1714285714292

### Step 17. How many different items are sold?

In [156]:
chipo.item_name.unique().shape[0]

50